* {
    background-color: #f0e7e2;
    font-size: 24px;
}
.button {
    width: 80px;
    height: 80px;
    margin: 5px;
    padding: 10px 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
    background-color: #c7aca6;
    cursor: pointer;
}

.button:hover {
    background-color: #998b97;
}
.button:active {
    box-shadow: inset 0 0 20px 0 rgba(121, 110, 119, 0.84);
}

.reset-button {
    background-color: #494d68;
    color: white;
}
.reset-button:hover {
    background-color: #22223b;
}
.reset-button:active {
    box-shadow: inset 0 0 20px 0 rgb(95, 102, 140);
}